@model IEnumerable<WebApplication1.Models.MyMoney>
@{ 
    var i = 1;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @foreach(var money in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@money.Cata</td>
                    <td>@money.CreateDate.ToString("yyyy-MM-dd")</td>
                    <td>@money.Amount</td>
                </tr>
                i++;
            }
        </table>
    </div>
</div>
